---
export interface Props {
	title: string;
  image: string;
  quantity: string
}

const { title, image, quantity } = Astro.props;
---

<div class=" bg-[#fefae0] rounded-lg flex flex-col justify-center ">
 <img class="w-full" src=`${image}` />
 <section class="p-3">
    <div class="text-red-600 text-lg lg:text-xl">{title}</div>
    <div class="lg:text-lg">{quantity} </div>
    <div class="">200 cartons </div>
 </section> 
</div>