---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Hero from '../components/Hero';
import OtherFeatures from '../components/OtherFeatures';
import Products from '../components/Products.astro';
import Aim from "../components/Aim";
import Brands from "../components/Brands";
import Contact from "../components/Contact";
import Footer from "../components/Footer";
---

<Layout title="Millasky trading">
	<main>
		<div>
    <img class="p-2 lg:hidden" src="./logo.png"></img>
 		</div>

		<div id="nav"/>
		<Navbar client:only="react"/>

		<div id="hero" class="max-sm:hidden " />
		<Hero client:only="react" />
		</div>

		<!-- <div id="hero" class=" min-sm:hidden" />
		<Hero client:only="react" />
		</div> -->

		<div id="features" />
		<OtherFeatures client:only="react"/>

		<div id="products" />
		<Products />

		<div id="aim">
		<Aim client:only="react"/>

		<div id="brands" />
		<Brands client:only="react"/>

		<div id="contact" />
		<Contact client:load />
		
		<Footer client:load />
		
	</main>
</Layout>

<style>
	#hero {
		height: 100%;
		width: 100%;
		background-color: black;
	}

	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
