---
import Layout from "../../layouts/Product_layout.astro";
import Navbar from "../../components/Navbar";
import Footer from "../../components/Footer";
import Card from "../../components/products/Card.astro";
---

<Layout title="Beauty care" Name="Beauty care | millasky general trading" Desc="All body care products sold by millasky genera trading">
  <div id="nav"></div>
  <Navbar client:only="react" />
  
  <main class="">
    <h1 class="text-center m-5 text-5xl">Body wash/lotion</h1>
    <div class="p-3 lg:p-20">
      <section class="grid grid-cols-2 gap-3 lg:grid-cols-4 lg:gap-8">
        <Card image="/items/beauty_care/nivea_lotion.jpg" title="Nivea Fairness Body Lotion" quantity="625ml x 12pcs"/>

        <Card image="/items/beauty_care/nivea.jpg" title="Nivea Cocoa Butter Body Lotion" quantity="400ml x 12pcs" />

        <Card image="/items/beauty_care/vaseline.jpg" title="Vaseline Intensive Care Body Lotion" quantity="725ml x 12pcs"/>

      </section>     
    </div>

    <h1 class="text-center m-5 text-5xl">Facewash</h1>
    <div class="p-3 lg:p-20">
      <section class="grid grid-cols-2 gap-3 lg:grid-cols-4 lg:gap-8">

        <Card image="/items/beauty_care/himalaya_green.jpg" title="Himalaya Herbals Purifying Neem Face Wash" quantity="150ml x 8pcs" />

        <Card image="/items/beauty_care/himalaya_brown.jpg" title="Himalaya Black Head Clearing Walnut Face wash" quantity="150ml x 8pcs" />

      </section>
    </div>

    <h1 class="text-center m-5 text-5xl">Deodorant</h1>
    <div class="p-3 lg:p-20">
      <section class="grid grid-cols-2 gap-3 lg:grid-cols-4 lg:gap-8">
        <Card image="/items/beauty_care/nivea_blue.jpg" title="Nivea Men Fresh Active Roll-On Deodorant" quantity="50ml x 30pcs" />

        <Card image="/items/beauty_care/nivea_green.jpg" title="Nivea Men Fresh Power  Roll-On Deodorant" quantity="50ml x 30pcs" />

        <Card image="/items/beauty_care/fa_blue.jpg" title="Fa Aquatic Fresh Scent Anti-Perspirant Roll On" quantity="50ml x 12pcs"/>

        <Card image="/items/beauty_care/fa_pink.jpg" title="Fa Pink Rose Fresh Scent Anti-Perspirant Roll On" quantity="50ml x 12pcs"/>
      </section>
    </div>

    
  </main>

  <Footer client:load />
</Layout>
