---
import Layout from "../../layouts/Product_layout.astro";
import Navbar from "../../components/Navbar";
import Footer from "../../components/Footer";
import Card from "../../components/products/Card.astro";
---

<Layout
  title="Home care"
  Name="Home care"
  Desc="All Home care products sold by millasky genera trading."
>
  <div id="nav"></div>
  <Navbar client:only="react" />

  <main class="">
    <h1 class="text-center m-5 text-5xl">Detergents</h1>
    <div class="p-3 lg:p-20">
      <section class="grid grid-cols-2 gap-3 lg:grid-cols-4 lg:gap-8">
        <Card
          image="/items/home_care/ariel_semi.jpg"
          title="Ariel semi-automatic detergent"
          quantity="2.5kg x 4 pcs"
        />
        <Card
          image="/items/home_care/ariel_auto.jpg"
          title="Ariel automatic detergent powder"
          quantity="2.5kg x 4pcs"
        />
        <Card
          image="/items/home_care/tide_original.jpg"
          title="Tide original detergent powder"
          quantity="2.5kg x 2 pcs"
        />
        <Card
          image="/items/home_care/tide_downy.jpg"
          title="Tide detergent w/ downy fragrance"
          quantity="2.5 x 2pcs"
        />
        <Card
          image="/items/home_care/omo_auto.jpg"
          title="Omo automatic detergent powder"
          quantity="2.25kg x 4pcs"
        />
      </section>
    </div>

    <h1 class="text-center m-5 text-5xl">Dish washing liquids</h1>
    <div class="p-3 lg:p-20">
      <section class="grid grid-cols-2 gap-3 lg:grid-cols-4 lg:gap-8">
        <Card
          image="/items/home_care/fairy_lemon.jpg"
          title="Fairy Lemon dishwashing liquid"
          quantity="600ml x 20pcs"
        />
        <Card
          image="/items/home_care/fairy_green.jpg"
          title="Fairy Plus green dishwashing liquid"
          quantity="600ml x 20pcs"
        />
      </section>
    </div>

    <h1 class="text-center m-5 text-5xl">Disinfectants</h1>
    <div class="p-3 lg:p-20">
      <section class="grid grid-cols-2 gap-3 lg:grid-cols-4 lg:gap-8">
        <Card
          image="/items/home_care/dettol.jpg"
          title="Dettol Multipurpose Liquid Cleaner"
          quantity="1000ml x 6pcs"
        />
        <Card
          image="/items/home_care/jif_yellow.jpg"
          title="Jif multipurpose Cream cleaner"
          quantity="500ml x 6pcs"
        />
      </section>
    </div>
  </main>

  <Footer client:load />
</Layout>
