---

import Layout from "../../layouts/Product_layout.astro";
import Navbar from "../../components/Navbar";
import Footer from "../../components/Footer";
import Card from "../../components/products/Card.astro";
---

<Layout title="Home care">

<div id="nav"/>
<Navbar client:only="react"/>
<main class="">

<h1 class=" text-center m-5 text-5xl"> Detergents </h1>  
<div class="p-3 lg:p-20">
  <section class="grid grid-cols-2 gap-5 lg:grid-cols-4 lg:gap-8">
  <Card image="/items/tide.jpg" title="Tide detergent powder" quantity="2.5kg x 2 pcs"/>
  <Card image="/items/ariel.jpg" title="Ariel detergent powder" quantity="2.5kg x 2 pcs"/>
  <Card image="/items/tide.jpg" title="Tide detergent powder" quantity="2.5kg x 2 pcs"/>
  <Card image="/items/ariel.jpg" title="Ariel detergent powder" quantity="2.5kg x 2 pcs"/>
  <Card image="/items/tide.jpg" title="Tide detergent powder" quantity="2.5kg x 2 pcs"/>
  <Card image="/items/ariel.jpg" title="Ariel detergent powder" quantity="2.5kg x 2 pcs"/>
  <Card image="/items/tide.jpg" title="Tide detergent powder" quantity="2.5kg x 2 pcs"/>
  <Card image="/items/ariel.jpg" title="Ariel detergent powder" quantity="2.5kg x 2 pcs"/>
  </section>
</div>


</main >

<Footer client:load />
</Layout>