---
import Layout from "../../layouts/Layout.astro";
import Navbar from '../../components/Navbar';
import Card from "../../components/Card.astro";
import Footer from "../../components/Footer"
---
<Layout title="Millasky trading">
	<div id="nav"/>
	<Navbar/>

<main>

    <div class="bg-black flex items-center justify-center h-42  w-full">
      <img class=" opacity-40 h-auto" src="./banner.png">
      <h1 class="text-amber-50 absolute "> Products </h1>
    </div>

<section class="bg-slate-50 bg-w">
    <div class="">
        <!-- <span class="hidden lg:inline-flex m-0 ">
            <img class="h-10 " src="/laundry.png">
            <h3 class=" text-2xl text-red-700">What we provide</h3>
        </span> -->
        
        <div class="grid grid-cols-1 gap-6 p-14 lg:m-12  lg:p-0 lg:grid-cols-4 ">

        <Card image="./home-care.jpg" href="/products/home_care" title="Home care"
        body="Home to all premium quality laundry products" />

        <Card image="./body-care.jpg" href="/products/body_care" title="Body care"
        body="Home to all premium quality laundry products" />

        <Card image="./cosmetics.jpeg" href="/products/cosmetics" title="Cosmetics and beauty care"
        body="Home to all premium quality laundry products" />
        
        <Card image="./beauty-sweeps.jpg" href="/products/Perfumes" title="Perfumes and Body Care"
        body="Home to all premium quality laundry products" />
        
        </div>

    </div>
  </section>
	</main>

<Footer client:load />

</Layout>

<style>
	#hero {
		height: 100%;
		width: 100%;
		background-color: black;
	}

	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>